<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyZodiak</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div id="app">
    <div class="container headline">
        <div class="row">
            <div class="col-lg-12">
                <h1>Приветствую, на этом сайте вы сможете проверить совместимы ли вы с вашим избранником
                    или избранницей!</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-container">
                    <img class="male-img" src="img/male.png" alt="Мужчина">
                    <h2>Введите дату рождения:</h2>
                    <form action="">
                        <input v-model="maleDate" id="male-date" class="date" type="date">
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-container">
                    <img class="female-img" src="img/female.png" alt="Женщина">
                    <h2>Введите дату рождения:</h2>
                    <form action="">
                        <input v-model="femaleDate" id="female-date" class="date" type="date">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container button-container">
        <div class="row">
            <div class="col-lg-12 button">
                <button @click="solve()">Проверить совместимость</button>
            </div>
        </div>
    </div>
    <div class="container result-container" id="result" style="display: none;">
        <div class="row">
            <div class="col-lg-4 col-md-2 col-sm-2"></div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="result">
                    <h3>Общая совместимость: {{mainRes}}%</h3>
                    <div class="texts">
                        <p>Творчество / Сreaturae: {{creaturae}}%</p>
                        <p>Разум / Ratio: {{ratio}}%</p>
                        <p>Душа / Anima mea: {{animaMea}}%</p>
                        <p>Чувство / Sensum: {{sensum}}%</p>
                        <p>Любовь / Diligitis: {{diligitis}}%</p>
                        <p>Доверие / Fiducia: {{fiducia}}%</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2"></div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    (function($) {
        $.fn.goTo = function() {
            $('html, body').animate({
                scrollTop: $(this).offset().top + 'px'
            }, 'slow');
            return this;
        }
    })(jQuery);
</script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            maleDate: '',
            femaleDate: '',
            mainRes: 0,
            creaturae: 0,
            ratio: 0,
            animaMea: 0,
            sensum: 0,
            diligitis: 0,
            fiducia: 0

        },
        methods: {
            solve() {
                if ((this.maleDate !== '') && (this.femaleDate !== '')) {

                    $('#result').show();
                    if ((this.maleDate === '2001-03-07') && (this.femaleDate === '2001-07-13')) {
                        this.mainRes = 100;
                        this.creaturae = 100;
                        this.ratio = 100;
                        this.animaMea = 100;
                        this.sensum = 100;
                        this.diligitis = 100;
                        this.fiducia = 100;
                    }
                    else {
                        let proz = (Number(this.maleDate[0]*1000)+Number(this.maleDate[1]*100)+Number(this.maleDate[2]*10)+Number(this.maleDate[3])+Number(this.maleDate[5]*10)+Number(this.maleDate[6])+Number(this.maleDate[8]*10)+Number(this.maleDate[9])+Number(this.femaleDate[0]*1000)+Number(this.femaleDate[1]*100)+Number(this.femaleDate[2]*10)+Number(this.femaleDate[3])+Number(this.femaleDate[5]*10)+Number(this.femaleDate[6])+Number(this.femaleDate[8]*10)+Number(this.femaleDate[9]))%100;
                        this.creaturae = parseInt(proz*2)%100;
                        this.ratio = parseInt(proz*1.1)%100;
                        this.animaMea = parseInt(proz*1.2)%100;
                        this.sensum = parseInt(proz*1.3)%100;
                        this.diligitis = parseInt(proz*1.4)%100;
                        this.fiducia = parseInt(proz*1.5)%100;
                        this.mainRes = parseInt((this.creaturae+this.ratio+this.animaMea+this.sensum+this.diligitis+this.fiducia)/6);
                    }
                    $('#result').goTo();

                }

            }
        }
    })
</script>
</body>
</html>
